body{
    box-sizing: border-box;
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-areas:
        "main aside"
}

aside{
    background-size: cover;
    background-position: center;
    background-clip: border-box;
    background-image: url(./read_news.jpg);
    
}