body{
    box-sizing: border-box;
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-areas:
        "main aside";
    grid-template-rows: 1fr;
    grid-template-columns: 50% 50%;
}

aside{
    grid-area: aside;
    background-size: cover;
    background-position: center;
    background-clip: border-box;
    background-image: url(./read_news.jpg);
}

.logo{
    display: flex;
    justify-content: left;
    width: 100%;
    height: 15%;
    margin-bottom: 12%;
}

img{
   width: 60%;
}

main{
    grid-area: main;
    padding: 35px;
    background-color: var(--body-bg-color);

}

:root {
    --body-bg-color: #121214;
    --text-color: #E1E1E6;
    --title-color: #04D361;
    --form-color: #A8A8A8;
    --bg-button-color: #8257e5;
  }

  h1{
    font-family: 'Work Sans', sans-serif;
    color: var(--title-color);
    margin: 5;
  }

  h4{
    margin: 5;
    font-family: 'Work Sans', sans-serif;
    color: white;

  }

  p{
    margin: 5;
    font-family: 'Work Sans', sans-serif;
    color: var(--text-color);
  }

.sendmail{
    font-family: 'League Spartan', sans-serif;
    color: var(--text-color);
    height: 6%;
    width: 220%;
    margin-top: 30px;
  }

.inputmail{
    height: 100%;
    display: flex;
    width: 55%;
    margin-top: 10px;
}

input{
    border: none;
    outline: none;
    width: 100%;
    border-left: #04D361 10px solid;
    z-index: 1;

}

.submit-button{
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: var(--bg-button-color);
    border: none;
    width: 5%;
    z-index: 1;

}

.submit-img{
    padding: 20%;
    width: 100%;
    height: 100%;

}

.ler{

  font-size: 1.2em;
  font-family: 'Work Sans', sans-serif;
  margin-top: 10%;
  font-weight: 700;

  
}

a {
  display: flex;
  align-items: center;
  color:#8257e5;
  text-decoration: none;
  position: absolute;
  };

a:link{
  color:#8257e5;
}
a:hover{
  text-decoration: underline;
}

.seta{
  width: 10%;
}
