*{
  margin: 0 auto;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

:root {
  --body-bg-color: #121214;
  --text-color: #E1E1E6;
  --title-color: #04D361;
  --form-color: #A8A8A8;
  --bg-button-color: #8257e5;
}

body{
    display: flex;
    box-sizing: border-box;
    margin: 0 auto;
    background-color: var(--body-bg-color);
}

aside{
    flex: 1;
    background-size: cover;
    background-position: center;
    background-clip: border-box;
    background-image: url(./read_news.jpg);
    box-sizing: border-box;
}

.logo{
    margin: 20px;
}

img{
  width: 50%
}


main{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 15px;
    height: 100vh;
    background-color: var(--body-bg-color);

}

  h1{
    color: var(--title-color);
    margin: 50 5 5;
  }

  h4{
    margin: 5;
    color: white;

  }

  p{
    margin: 5;
    color: var(--text-color);
  }

.sendmail{
    font-family: 'League Spartan', sans-serif;
    color: var(--text-color);
    width: 120%;
    margin-top: 30px;
    margin-left: 5px;
    padding-right: 30px;
  }

.inputmail{
    display: flex;
    margin-top: 10px;
}

input{
    width: 100%;
    border: none;
    outline: none;
    border-left: #04D361 10px solid;
    z-index: 1;
    height: 50px;

}

.submit-button{
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: var(--bg-button-color);
    border: none;
    width: 50px;
    z-index: 1;

}

.submit-img{
    padding: 20%;
    width: 100%;
    height: 100%;

}

.ler{

  font-size: 1.2em;
  font-family: 'Work Sans', sans-serif;
  margin-top: 10%;
  font-weight: 700;

  
}

a {
  display: flex;
  align-items: center;
  color:#8257e5;
  text-decoration: none;
  position: absolute;
  };

a:link{
  color:#8257e5;
}
a:hover{
  text-decoration: underline;
}

.seta{
  width: 10%;
}

@media(max-width: 750px){

  aside{
    display: none;
  }


}