
:root {
    --body-bg-color: #FAF7FD;
    --purple: #BB99DD;
}

body{
    margin: 0 auto;
    box-sizing: border-box;
    background-color: var(--body-bg-color);
    color: var(--purple);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container{
    max-width: 960px;
    margin: 50px;
}

.profile{
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
}

.profile > img{
    border: 3px solid;
    border-radius: 50%;
    width: 60%;
    padding: 5px;
  
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    margin-top: 30px;
}

.links > a{
    color: var(--purple);
    text-decoration: none;
    border: 2px solid;
    text-align: center;
    width: 90%;
    border-radius: 3px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;

}

.social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    margin-top: 50px;

}

