h1{
    text-align: center;
    margin-top: 60px;
    padding: 50px;
}

h2{
    text-align: center;
    margin-top: 20px;
}
main{
    margin: 10px 350px 10px 350px;
    background-color: #FFFFFF;
    border-radius: 10px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }

body{
    background-color: #DFCCB6;
    font-family: 'Roboto', sans-serif;
   }

figure{
    text-align: center;
   }

 ul, ol{
    margin-left: 40px;
  }

li{
    list-style-position: inside;
    line-height: 50px;
}

img{
    object-fit: cover;
    width: 1150px;
    height: 300px;
    border-radius: 10px;
}

footer{
    text-align: center;
    margin: 20px;
}

p{
    margin-left: 40px;
    padding: 20px;
}